@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: #000;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100vh;
  width: 80vw;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #21325e;
}
.overall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.heading {
  color: #f1d00a;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-style: italic;
}
.pokemon {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.pokemon img {
  display: block;
}
